<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Prostate Tumour Type Predictor</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 <div class="login">
	<h1>Prostate Tumour Type Predictor</h1>
     <h2>Author: Qingboyuan(Brian) Wang</h2>
     <h3> Please enter the following values to predict the type of a prostate tumour</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="radius" placeholder="Radius" required="required" />
        <input type="text" name="area" placeholder="Area" required="required" />
		<input type="text" name="smoothness" placeholder="Smoothness" required="required" />
        <input type="text" name="compactness" placeholder="Compactness" required="required" />
        <input type="text" name="symmetry" placeholder="Symmetry" required="required" />
        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <h3>Predicted Result: {{ prediction_text }}</h3>
</div>
</body>
</html>
